<html>

<head>
    <link rel="stylesheet" href="./../styles.css">
    <title>iomeanslife - {{ title }}</title>
</head>

<body>
    <header><a href="./../index.html">iomeanslife</a> - {{ title }}</header>
    <aside>
        {{ aside }}
    </aside>
    <main>
        {{ content }}
    </main>
    <footer>Created by Omar Ajerray, Copyright 2020. Generated of {{ repo }} {{ branch }} {{ commit }} on
        {{ generate-date }}</footer>
    <img class="background" src="./../media/meteor-file-strike.svg">
</body>

</html>