<html>

<head>
    <link rel="stylesheet" href="./styles.css">
    <title>iomeanslife</title>
</head>

<body>
    <header>iomeanslife</header>
    <aside>
        {{ aside }}
    </aside>
    <main>
        <h1>List of contents</h1>

        <nav>
            {{ index-list }}
        </nav>
    </main>
    <footer>Created by Omar Ajerray, Copyright 2020. Generated of {{ repo }} {{ branch }} {{ commit }} on
        {{ generate-date }}</footer>
    <img class="background" src="./media/meteor-file-strike-v2.svg">
</body>

</html>