<!-- TODO: Add publishing date to links in index. -->
<!-- TODO: Have index be a simple endlessly down scrolling index of links. -->
<!-- TODO: Mention the font in the about with a link -->
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>iomeanslife</header>
        <!-- <main>{{} main }}</main> -->
        <aside>
        <p>Hi, my name is Omar Ajerray and here i a description of things.</p>
        <p>Duis vitae diam orci. Aliquam sagittis nec est sed condimentum. Integer ac feugiat nisl, posuere egestas nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras luctus hendrerit euismod. Ut sit amet fermentum leo, quis dignissim dolor. Morbi dignissim quam sed molestie maximus. Donec mollis, purus nec scelerisque consequat, sapien tortor pharetra dui, a varius dui quam sit amet purus. Nunc molestie augue a felis venenatis varius.</p>
        </aside>
        <main>
            <nav>
                <ul>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                    <li>A</li>
                    <li>B</li>
                </ul>
            </nav>
        </main>
        <footer>Created by Omar Ajerray, Copyright 2020</footer>
        <img class="background" src="./media/meteor-file-strike.svg">
    </body>
</html>