<!-- TODO: Add publishing date to links in index. -->
<!-- TODO: Have index be a simple endlessly down scrolling index of links. -->
<!-- TODO: Mention the font in the about with a link -->
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>iomeanslife</header>       
        <aside>
        <p>Hi, my name is Omar Ajerray and here i a description of things.</p>
        </aside>
        <main>
            <nav>
                <ul>
                {{ index-list- }}
                </ul>
            </nav>
        </main>
        <footer>Created by Omar Ajerray, Copyright 2020</footer>
        <img class="background" src="./media/meteor-file-strike.svg">
    </body>
</html>
