@font-face {
    font-family: lemon-milk-light;
    src: url(./media/lemon-milk-font-light.otf);
  }

  @font-face {
    font-family: lemon-milk;
    src: url(./media/lemon-milk-font.otf);    
  }

html {
    font-family: lemon-milk-light;
    /* color: #D17aff; */
    color:#9663e8;
    /* color:#Ff6ecb; */
    background-color: black;
}

img.content {
    background-color: white;
    border-style: solid
}

a, a:link {
    color:#Ff6ecb;
}

a:active, a:hover {
    color:#D17aff;
}

main {
    width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
}

aside {
    top: 50px;
    position: sticky;
    float: right;
    width: 300px;
}

header {
    top: 0px;
    position: fixed;
}


footer {
    bottom: 0px;
    position: fixed;
}

.background {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 300px;
    align-self: flex-end;
}